@-moz-document domain("amazon.co.uk") {
#pageContent {
    background-color: #292C30;
    color: white;
}
body {
	background: #292C30;
}

/*Product Cards*/
.gw-card-layout .a-cardui, .adcenterRowWrapper, .billboardRowWrapper, .desktop-row {
	background: #2F3439;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	text-align: left;
	color: white;
	border-radius: 25px;
  line-height: 1.6;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.03);
  border-width: 2px;
}

/*Price*/
.a-price[data-a-color=base] {
    color: white;
}

/*Headers*/
.a-color-base {
    color: #fff!important;
}
#gw-content-grid .fresh-shoveler .as-title-block .a-color-base {
    color: #fff!important;
    font-weight: 700;
}

/*Hide ad placeholder*/
#desktop-grid-1-D2 {
  display: none;
}

/*Buttons*/
.a-button-primary {
    background: none;
    border: none;
}
.a-button-primary .a-button-inner {
  background: linear-gradient(to right, #55B49D , #2B7DCA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 25px;
  color:white;
  font-size: 20px;
  border: none;
}
.a-button-primary:hover .a-button-inner:hover {
  filter: hue-rotate(90deg);
  background: linear-gradient(to right, #55B49D , #2B7DCA);
}
.a-button-text, #a-autoid-0-announce {
  color: white;
}

/*Squished Row*/
#squished-desktop-row {
  background: none;
}
#squished-desktop-row .desktop-row {
    min-height: 0;
    padding-right: 0;
    border-right: none;
}

/*Link*/
a, a:active, a:link, a:visited {
    color: #2a90fc;
  opacity: 1;
}
a:hover {
  color: #007aff;
  text-decoration: none;
  opacity: .5;
}

/*Navigation Bar*/
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
	margin-top: 10px;
	margin-bottom: 25px;
}
#navbar.nav-bluebeacon {
    background-color: black;
	border-radius: 30px;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	padding: 10px;
}
#navbar.nav-bluebeacon #nav-belt, #navbar.nav-bluebeacon #nav-main {
    background-image: none;
    background-color: black;
	border-radius: 30px;
} 

/*Nav Search Bar*/
#nav-search .nav-search-field {
	background: rgba(200, 200, 255, 0.2) ;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: left;
  font-family: "SF Pro Display";
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color:white;
  font-size: 20px;
  border: none;
  margin-right: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-width: 2px;
}
#nav-search .nav-search-field:hover {
	background: linear-gradient(to right, rgba(149,136,213,0.4) , rgba(171,89,147,0.4));
}

/*Remove Ugly Search Bar Elements*/
#nav-search .nav-active {
    background: none;
}
#navbar.nav-bluebeacon #nav-search .nav-searchbar.nav-active .nav-search-scope {
	border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-width: 2px;
}
#navbar.nav-bluebeacon #nav-searhc .nav-searchbar.nav-active .nav-search-field {
	border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-width: 2px;
}

/*Nav Search Button*/
#navbar.nav-bluebeacon #nav-search .nav-search-submit {
	  background: linear-gradient(to right, #55B49D , #2B7DCA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: "SF Pro Display";
  border-radius: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  color:white;
  font-size: 20px;
  border: none;
}
#navbar.nav-bluebeacon #nav-search .nav-search-submit:hover {
	filter: hue-rotate(90deg);
}

/*Invert Colour of Nav Search Button Icon*/
#nav-search .nav-search-submit .nav-search-submit-text {
    filter: invert(100%);
}

/*Nav Search Category Button*/
#navbar.nav-bluebeacon #nav-search .nav-search-scope {
	background: rgba(200, 200, 255, 0.2) ;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: left;
  font-family: "SF Pro Display";
  border-radius: 25px;
  color:white;
  font-size: 20px;
  border: none;
  margin-right: 5px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-width: 2px;
}
#navbar.nav-bluebeacon #nav-search .nav-search-scope:hover {
	background: linear-gradient(to right, rgba(149,136,213,0.4) , rgba(171,89,147,0.4));
  border-color: rgba(255, 255, 255, 0.05);
}
#nav-search .nav-search-facade .nav-icon {
	border-top: 4px solid white;
}
#nav-search .nav-search-facade .nav-search-label {
	color: white;
}
}
