@-moz-document url-prefix("https://www.google.com/"), url-prefix("https://www.google.co.uk/") {
/*Main Page Background*/
body {
    background: #242628 !important;
    color: white;
}

/*Hide doodle text*/
#prm-pt {
	display: none;
}

/*Search Bar*/
.sbib_a, .sbib_b, .sfibbbc, .sbibod{
	background: none !important;
	box-shadow: none;
}
.lst-c {
	background: rgba(200, 200, 255, 0.2) ;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: left;
  border-radius: 25px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.05);
  border-width: 2px;
}
.gsfi, .lst {
    color: white;
}

/*Dark mode for privacy reminder*/
.Teq10 {
    background: #2F3439!important;
    margin-left: 27px!important;
    color: white!important;
    border-radius: 25px!important;
    width: 75%!important;
    margin: auto!important;
    border-style: solid!important;
    border-color: rgba(255, 255, 255, 0.03)!important;
    border-width: 2px!important;
    margin-bottom:15px!important;
}
 .OFfaL{
    color:white!important;
}

/*Search Bar dropdown*/
.sbsb_b,  .sbsb_a{
	background: none !important;
}
.sbdd_b {
	background:  #464856!important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px!important;
  border-style: solid !important;
  border-color: rgba(255, 255, 255, 0.05) !important;
  border-width: 2px !important;
	border-top: none !important;
	padding-top: 15px;
	margin-top: 5px;
	padding-bottom: 15px !important;
}
.sbpqs_a {
    color: white;
}
/*Dropdown highlight color*/
.sbsb_d {
	background-color: rgba(200, 200, 255, 0.2);
}
/*Dropdown search buttons*/
.sbdd_a input {
	background: linear-gradient(to right, #55B49D , #2B7DCA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  text-align: center;
  border-radius: 25px;
  color:white;
  font-size: 18px;
	font-weight: normal;
  border: none;
	height: 40px;
}
.sbdd_a input:hover {
	background: linear-gradient(to right, #55B49D , #2B7DCA);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
	filter: hue-rotate(90deg);
	border: none;
	color: white;
}

/*Top Right Icons*/
.gb_Rc {
    filter: invert(100%);
}
/*Fix top right inverted profile picture/sign in*/
.gbii, #gb a.gb_Aa.gb_Aa {
    filter: invert(100%);
		color: white !important;
}

/*Google Shopping Price*/
.O8U6h {
    color: white !important;
}

/*About and Store color change*/
#hptl a {
	color: white !important;
}

/*Location text*/
.Q8LRLc{
	color: white !important;
}

/*Location text background along with white bars above and below*/
#fbar{
	background: #242628!important;
    border-top: none!important;
}

.b2hzT {
    border-bottom: none!important;
}

/*Search Button*/
.jhp input[type="submit"]{
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	color:white;
	font-size: 16px;
	font-weight: normal;
	border: none;
	height: 45px;
	background: linear-gradient(to right, #55B49D , #2B7DCA);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	text-align: center;
}
.jhp input[type="submit"]:hover{
	filter: hue-rotate(90deg)!important;
    background: linear-gradient(to right, #55B49D , #2B7DCA);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border: none;
    color:white;
}

/*Search Text Colours*/
/*Site Titlte*/
a:link, .mblink:visited, a:visited,  a.fl:link {
    color: #2a90fc !important;
}
/*URL Below Title*/
cite {
	color: white !important;
}
/*Site Description*/
.s {
    color: rgba(255,255,255,0.6);
}

/*Search Right Quick Info*/
.kp-blk {
  background: #2F3439;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) !important;
  color: white;
  border-radius: 25px  !important;
  border-style: solid !important;
  border-color: rgba(255, 255, 255, 0.03) !important;
  border-width: 2px !important;
	padding-bottom: 20px;
	margin-bottom: 10px !important;
}

/*Right Side Quick Info - Title*/
.garHBe, .kno-ecr-pt {
    color: white !important;
}
/*Hover Effect*/
.rhsvw:hover {
    background: none;
}
/*Right Side Quick Info - Description*/
.cwUqwd {
    color: rgba(255,255,255,0.6) !important;
}
/*Right Side Quick Info - Link*/
.xXEKkb {
    color: #2a90fc !important;
}
/*Right Side Subtitles*/
.Ss2Faf {
    color: white !important;
}
/*Right Side Text*/
.Ndq8Rb, .IZACzd {
	color:white !important;
}
.piVJ4d, .mFI2Qb, .HF3S5b, .eaoWNe {
    color: rgba(255,255,255,0.6) !important;
}
/*Round Right Side Topmost Image*/
.kno-mrg {
    border-radius: 25px !important;
    margin: 15px;
}

/*Remove Ugly People also ask seperators*/
.cbphWd {
    border-top: none !important;
}

/*Video Cards*/
.cv2VAd {
	background: #2F3439;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 25px  !important;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.03) !important;
  border-width: 2px !important;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

/*Google Contact Cards*/
.vkc_np {
	background: #2F3439;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 25px  !important;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.03) !important;
  border-width: 2px !important;
	padding-bottom: 20px;
}

/*Add Cards to Search Results*/
.rc {
	background: #2F3439;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: white;
  border-radius: 25px !important;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.03) !important;
  border-width: 2px !important;
	padding: 15px;
}

/*Subcription Box*/
.i29hTd .qLLird {
	color: white !important;
	opacity: .6 !important;
}
.N6Sb2c, .i3LlFf {
    color: white !important;
}

/*Remove all Feedback buttons*/
a.duf3 {
    display: none;
}

/*Remove Ugly Seperators*/
.E6Cqjb {
  background-color: rgba(255, 255, 255, 0.03) !important;
	height: 3px;
}
.xpdclose .a84NUc:not(:empty), .xpdopen .CQKTwc:not(:empty), .cVqrTe, .kp-blk .xpdopen .mJ2Mod{
    border-top: none !important;
}
.jA1nid {
    border-bottom: none !important;
}
.ksSzJd .TZahnb, .ksSzJd .NY3LVe {
    border-right: none !important;
}

/*Thumbs Up/Down Buttons*/
.WKrsIc, .H0Ytud, .xpLNBf {
    color: rgba(255,255,255,.6) !important;
		fill: rgba(255,255,255,.6) !important;
}
.WKrsIc:hover, .H0Ytud:hover, .xpLNBf:hover {
    color: rgba(255,255,255,1) !important;
		fill: rgba(255,255,255,1) !important;
}

/*Share Icon*/
.rsir2d {
    color: white !important;
    opacity: 0.6 !important;
}
.rsir2d:hover {
    opacity: 1 !important;
}

/*More Button*/
/*
.piXPB {
	background: linear-gradient(to right, #55B49D , #2B7DCA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-family: "SF Pro Display";
  border-radius: 25px;
	padding: 10px;
  color: white !important;
  font-size: 14px;
  border: none;
	display: block !important;
	margin-top: 10px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}
.piXPB:hover {
  filter: hue-rotate(90deg);
}
.wR7plc:hover {
    text-decoration: none !important;
    color: white !important;
}
.wR7plc {
	    color: white !important;
}*/

/*Show times*/
.sKfzK {
	background-color: #242628!important;
	border-radius: 15px;
}
.rl_item_base .title {
	color: white !important;
	margin-left: 10px;
}
.jbzYp {
	margin-left: 10px;
}
.rl_item_base {
	background: none;
	border: none;
	margin-top: 5px;
}

/*Maps Expand Icon*/
.adgvqc {
	background-color:  #242628 !important;
	border-radius: 25px !important;
	top: 10px !important;
	right: 10px !important;
	opacity: .7 !important;
}
.xXEKkb {
    color: #1a0dab !important;
}
.adgvqc:hover {
	opacity: 1 !Important;
}
.adgvqc img {
	opacity: 1 !important;
  filter: invert(100%);
}

/*Maps Address*/
.y8Jpof .LrzXr {
	color: rgba(255,255,255,.6) !important;
}

/*Search Navbar*/
.srp #searchform {
	position: relative !important;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
  margin-top: 5px;
	padding-top: 15px;
	border-radius: 25px 25px 0px 0px;
}
#hdtbSum {
	position: relative;
	background: black !important;
	border-radius:  0px 0px 25px 25px;
	padding-bottom: 15px !important;
	margin-bottom: 30px;
}
#hdtb {
	border-bottom: none !important;
}
#top_nav {
	margin-top: -65px;
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.sfbgx, #hdtb, .sfbg {
  background: none !important;
	border-bottom: none !important;
}
.sfbgg {
	border-radius: 25px 25px 0px 0px;
	background-color: black;
}

/*Topmost Quick Preview*/
#appbar {
	background: none;
}
.klbar {
	border-bottom: none !important;
	background: #2F3439 !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: left;
  color: white;
  border-radius: 25px;
  padding: 15px;
  line-height: 1.6;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.03);
  border-width: 2px;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}
.H1ccWd {
	color: white !important;
}
#lxhdr {
	margin-left: 0 !important;
	margin-left: 230px !important;
	background: none;
	width:  75%;
  position: relative;
}
.lx_ctl .ksb.ab_button {
	color: rgba(255,255,255,0.6) !important;
}
.klitem {
	background: none !important;
}
.mlo-c {
	background-color: #272733 !important;
	border-radius: 15px !important;
}
.kltat, .klfact {
	color: white !important;
}

/*Search Box on navbar*/
.RNNXgb {
	background: rgba(200, 200, 255, 0.2) !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) !important;
  border-radius: 25px;
  border-style: solid !important;
  border-color: rgba(255, 255, 255, 0.05) !important;
  border-width: 2px !important;
}
/*Expanded Search Box on navbar*/
.aajZCb {
	background: rgba(200, 200, 255, 0.2) !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25) !important;
  border-style: solid !important;
  border-color: rgba(255, 255, 255, 0.05) !important;
  border-width: 2px !important;
	width: 99.7%;
	padding-top: 10px !important;
	padding-bottom: 15px !important;
}
.sbl1 {
	color: white !important;
}
/*Search Box - Hover Effect*/
.sbhl {
	background-color: rgba(200, 200, 255, 0.2);
}
/*Remove Search Box Ugly Seperator*/
.sbct:first-child .suggestions-inner-container {
	border-top: none !important;
}
/*Search Nav Bar Font Color*/
.gLFyf {
    color: white !important;
}

/*Hide ugly exapnd arrows*/
.ab_ctl.action-menu {
    display: none;
}

/*Hide app bar background*/
.kappbar {
    background: none !important;
}

/*Stop blank space on left on carousel*/
.wqBQjd .EDblX {
    padding-left: 0 !important;
}

/*Round Arrows for carousels*/
.k2Oeod.eSq3C g-fab, .BlOseb.eSq3C g-fab, .BlOseb.Oom88b g-fab, .k2Oeod.Oom88b g-fab {
    background-color: black !important;
    color: white !important;
}
}
