@-moz-document url-prefix("https://www.google.com/"), url-prefix("https://www.google.co.uk/") {
/*Main Page Background*/
body {
    background: #242628!important;
    color: white;
}

/*Search Bar*/
.sbib_a {
     background-color: white;
    border-radius:15px!important;
}

/*Google Shopping Price*/
.O8U6h {
    color: #ffffff!important;
}

/*About and Store color change*/
#hptl a {
	color: white!important;
}

/*Location text*/
.Q8LRLc{
	color: white;
}

/*Location text background along with white bars above and below*/
#fbar{
	background: #242628!important;
    border-top: none!important;
}

.b2hzT {
    border-bottom: none!important;
}

/*Search Button*/
.jhp input[type="submit"]{
	border-radius: 25px;
	padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color:white;
    font-size: 20px;
    -webkit-transition: padding 0.5s ease;
    transition: padding 0.25s ease;
    transition:.4s;
    border: none;
    height: 45px;
    background: linear-gradient(to right, #55B49D , #2B7DCA);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.jhp input[type="submit"]:hover{
	filter: hue-rotate(90deg)!important;
    background: linear-gradient(to right, #55B49D , #2B7DCA);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    border: none;
    color:white;
}

/*Other Searchbar*/
.gsfi, .lst{
    background:  #2F3439!important;
}

.sbib_a{
	background:  #2F3439!important;
}

.sbib_b {
	background:  #2F3439!important;
}

.gsst_a {
	background:  #2F3439!important;
}
.gsst_b {
	background:  #2F3439!important;
	border-bottom: none;
}

.sfibbbc{
	background:  #242628!important;
}
}
