@-moz-document url-prefix("chrome-extension://bldnjpcciemkbmbbfpehdmdhiaemidce/edit"), url-prefix("chrome-extension://bldnjpcciemkbmbbfpehdmdhiaemidce/manage") {
/*Main Page Background*/
body {
    background: #242628;
    color: white;
}

/*Bold Top Left Heading*/
#heading {
	font-size: 30px;
	font-weight: bold;
}

/*Main Editor Box*/
.CodeMirror {
	background: #2F3439;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
 	text-align: left;
 	color: white;
	border-radius: 25px;
	padding: 15px;
	line-height: 1.6;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.03);
	border-width: 2px;
	padding-bottom: 50px;
	padding-right: 0px;
	margin-top: 10px;
    height: 755px;
}

/*Labels*/
label {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
     font-size: 16px;
     text-align:center;
}

/*Hide Extra Scrollbar*/
.CodeMirror-vscrollbar {
     width: 0px;
}

/*Hide Helps Question Marks*/
.applies-to-help, #sections-help, #to-mozilla-help, #lint-help, #keyMap-help {
     width: 0px;
}
img[src="help.png"] {
    margin-left: 0px;
}

/*Hide Mozilla Format Title*/
#mozilla-format-heading {
     font-size: 0px;
}

/*Large Top Page Section Heading*/
#sections-heading {
     margin-left: 25px;
     font-size: 30px;
	font-weight: bold;
}

/*Editor Area*/
.CodeMirror-scroll {
	color: white;
    background-color: #272a2d;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
	background: #2F3439;
    margin-right: 15px;
}

/*Active Line In Editor*/
.CodeMirror-activeline-background {
    background: black;
}

/*Editor URL Box*/
.applies-to li .applies-value {
 	background-color: rgba(200, 200, 255, 0.2);
	border-radius: 25px;
	color: white;
     font-size: 14px;
	padding: 8px;
	margin-right: 5px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.05);
	border-width: 2px;
     width: 10px;
}

/*Increase Line Spacing on Options*/
#options {
     line-height: 25px;
}

/*Style Name Box*/
#name {
	background-color: rgba(200, 200, 255, 0.2);
    border-radius: 25px;
    color: white;
    font-size: 14px;
 	padding: 8px;
    border: none;
    margin-right: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.05);
    border-width: 2px;
    margin-bottom: 10px;
}

/*Incremental Number Boxes*/
#options [type="number"] {
    background-color: rgba(200, 200, 255, 0.2);
    border-radius: 25px;
    color: white;
    font-size: 14px;
 	padding: 8px;
    border: none;
    margin-right: 5px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.05);
    border-width: 2px;
}
#options [type="number"]{
    max-width: 100%;
    text-align: left;
}

/*Dropdown Button*/
select {
	background-color: rgba(200, 200, 255, 0.2);
	border-radius: 25px;
	color: white;
	font-size: 14px;
	padding: 8px;
	border: none;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.05);
	border-width: 2px;
}

/*Editor Line Numbers*/
.CodeMirror-gutter  {
    	background-color:#272a2d;
}
.CodeMirror-gutters {
    border-right: 0px;
}

/*Sidebar*/
#header {
     margin: 10px;
     width: 17rem;
	background: #2F3439;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	text-align: left;
	border-radius: 25px;
	padding: 15px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.03);
	border-width: 2px;
     height: 94.5%;
}

/*Move Main Content*/
#sections {
     margin-left: 30px;
}
#installed {
     margin-left: 320px;
}

/*Buttons*/
::-webkit-file-upload-button, button{
	background: linear-gradient(to right, #55B49D , #2B7DCA);
	text-align: center;
	border-radius: 25px;
	padding: 9px;
	color: white;
	font-size: 14px;
	border: none;
	margin-right: 5px;
}
::-webkit-file-upload-button, button:hover {
	filter: hue-rotate(90deg);
}

/*Add Spacing Between Buttons and URL Bar*/
.applies-to ul {
    margin-bottom: 10px;
}

/*Boring Style for New Section/Beautify Buttons*/
.add-section,  .beautify-section{
     background:  rgba(200, 200, 255, 0.2);
     padding-left: 25px;
     padding-right: 25px;
}
.add-section:hover,  .beautify-section:hover{
     background:  #2a99f9;
     filter: hue-rotate(0deg);
}

/*Installed Page Boxes*/
.enabled, .disabled {
	background: #2F3439;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
	text-align: center;
	border-radius: 25px;
	padding: 15px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.03);
	border-width: 2px;
}
.disabled {
	opacity: 0.25;
}

/*Hide Ugly Installed Page Line*/
#installed::after {
     display: none;
}

/*Hide Ugly Filters Borders*/
fieldset {
    border-width: 0px;
}

/*Installed Style Search Bar*/
#search {
     background-color: rgba(200, 200, 255, 0.2);
	border-radius: 25px;
	color: white;
     font-size: 14px;
	padding: 8px;
	margin-right: 5px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.05);
	border-width: 2px;
}

/*Drop Down Color*/
option {
    color: white;
	background-color: #2F3439;
}

/*Remove Ugly Seperators*/
#sections > div:not(:first-of-type) {
    border-top: none;
}

/*Export Box*/
#help-popup.big {
    max-width: 100%;
    left: 0;
}
#help-popup {
    top: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0,0,0,.7);
    height: 100%;
    width: 100%;
}

/*White Text Carrot*/
.CodeMirror div.CodeMirror-cursor {
    border-left: 1px solid white;
}

/*Export Bold Title*/
#help-popup .title {
	margin-top: 10px;
	font-size: 30px;
	font-weight: bold;
}

/*Highlight colour*/
.CodeMirror-selected {
	background: rgb(61, 84, 107)!important;
}

/*=============================   Scrollbar Style  =============================*/

::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-track {
    background: #48484f;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #646569;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255,255,255,0.25);
}

/*=============================   Syntax Highlithing  =============================*/

.CodeMirror-wrap pre {
    color: white;
}
.cm-s-default .cm-tag {
    color: #2a99f9;
}
.cm-s-default .cm-qualifier {
    color: #f40e57;
}
.cm-s-default .cm-comment {
    color: #999999;
		font-size: 21px;
  	font-weight: bold;
}
.cm-s-default .cm-keyword {
    color: #56b76b;
}
.cm-s-default .cm-atom {
    color: #18af8c;
}
.cm-s-default .cm-meta {
    color: #f79347;
}
.cm-s-default .cm-builtin {
    color: #e070e0;
}
.cm-s-default .cm-string {
    color: #ff1e5a;
}
.cm-s-default .cm-number {
    color: #00ff48;
}
}

@-moz-document url-prefix("chrome-extension://bldnjpcciemkbmbbfpehdmdhiaemidce/popup") {
.body {
	background:#242628;
    color:white;
}
#stylish-popup {
    background:#242628;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color:white;
}
#disableAll-label {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
}
.style-edit-link, .delete {
	text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-left: 10px;
    background:  rgba(200, 200, 255, 0.2);
    text-align: center;
    border-radius: 25px;
    padding: 9px;
    color: white;
    font-size: 13px;
    border: none;
    line-height: 40px;
    padding-left: 20px;
     padding-right: 20px;
}
.style-edit-link:hover, .delete:hover {
	background:#2a90fc;
}
.style-name {
    color:white;
    border-bottom-style: solid;
	border-bottom-color: rgba(255, 255, 255, 0.1);
	border-bottom-width: 2px;
    margin-bottom: 10px;
}
#find-styles-link, #open-manage-link {
    background: linear-gradient(to right, #55B49D , #2B7DCA);
    text-align: center;
    border-radius: 25px;
    padding: 9px;
    color: white;
    font-size: 13px;
    border: none;
    text-decoration: none;
    line-height: 40px;
}
#find-styles-link:hover, #open-manage-link:hover {
	filter: hue-rotate(90deg);
}
.write-style-link {
    text-decoration: none;
    color:white;
}
body > DIV {
    border-bottom-style: solid;
	border-bottom-color: rgba(255, 255, 255, 0.1);
	border-bottom-width: 2px;
}

a, a:visited {
    color: white;
}
}
