/*Main Page Background*/
body {
    background: #242628;
    color: white;
}

/*Search Bar*/
.sbib_a {
     background-color: black;
}

/*Google Shopping Price*/
.O8U6h {
    color: #ffffff!important;
}
