body, .epu-dt .frame, .frame {
  background-color: #292C30 !important;
}

/*Middle Boxes*/
.orig, .main-header.long-text .result, body:not(.with-lang-list) .results-container.empty, body:not(.with-lang-list) .main-header.long-text .results-container.empty, .source-wrap, .source-input, .result-dict-wrapper, .results-container, .result, .gt-edit, .contribute-target {
  background-color: #2F3439 !important;
  color: white !important;
}

/*Boxes Text*/
.main-header.long-text .result-dict-wrapper .translation, .results-container:not(.empty) .placeholder, .result-dict-wrapper .translation, .contribute-target, #st-buttons .jfk-button {
  color: white !important;
}

/*Highlight Hover Text*/
.trans-target-highlight {
  background-color: rgba(200, 200, 255, 0.1) !important;
}

/*Top Language Bar*/
.ls-wrap {
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.03);
  border-width: 2px;
  background-color: #292C30;
}

.sl-sugg .goog-inline-block.jfk-button, .tl-sugg .goog-inline-block.jfk-button {
  color: white;
}

.sl-sugg .goog-inline-block.jfk-button-checked, .tl-sugg .goog-inline-block.jfk-button-checked {
  color: #2a90fc;
}

.ls-wrap .sugg-fade {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #292C30);
  height: 44px;
}

.ls-wrap .sl-sugg .goog-inline-block.jfk-button:focus {
  background-color: black;
}

/*Swap Button*/
.swap-wrap {
  background: none;
}

.swap.jfk-button {
  background-color: linear-gradient(to right, #55B49D, #2B7DCA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 25px;
  color: white;
  border: none;
}

/*Top Buttons*/
.homepage.translate-text .input-button.text-icon, .homepage.translate-docs .input-button.documents-icon, .header-button {
  background: linear-gradient(to right, #55B49D, #2B7DCA);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  text-align: center;
  border-radius: 25px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 2px;
  ;
  color: white;
  border: none;
  width: 180px;
  font-size: 18px;
  font-weight: normal;
}

/*Top Button Glyph Icons*/
.input-button.text-icon::before, .input-button.documents-icon::before {
  filter: brightness(100);
}

/*Icons*/
.jfk-button-img {
  opacity: .55 !important;
  filter: invert(1);
}

/*Title Bar*/
.gb_Ce {
  background-color: black !important;
  color: white !important;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 95%;
  border-radius: 25px;
  margin-top: 10px;
}

#gb {
  border: none !Important;
}

/*Middle Swap Languages Button*/
.swap.jfk-button {
  background-image: none !important;
  background: rgba(200, 200, 255, 0.2) !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15) !important;
  border-radius: 25px !important;
  border-style: solid !important;
  border-color: rgba(255, 255, 255, 0.05) !important;
  border-width: 2px !important;
  color: white !important;
  z-index: 2147483647 !important;
  width: 35px !important;
  height: 35px !important;
}

.swap .jfk-button-img {
  background-position: 0 -53px;
}

/*Hamburger Menu*/
.gb_Wa svg, .gb_Fc svg {
  color: white !Important;
}

/*Bottom Button Text*/
.ft-icon-txt {
  color: rgba(255, 255, 255, .7)
}
